.posterDetailImage {
    margin-right: 30%;
    margin-top: 50%;
}

h2 {
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    margin-top: 5%;
    text-align: center;
}

p {
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    font-size: 110%;
    text-align: justify;
}