<div [ngStyle]="{'background': '#000000', 'z-index': '-2'}">
<div [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w1280'+movie.backdrop_path+')', 'width': '100%', 'background-size': 'cover', 'background-repeat': 'no-repeat'}">
  <div class="container">
    <div class="row">
      <div class="col col-lg-2 col-md-2">
        <img src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" class="posterDetailImage">
      </div>
      <div class="col col-lg-1 col-md-1"></div>
      <div class="col col-lg-9 col-md-9">
        <h2>{{ movie.title }} | </h2><br>
        <div class="row">
          <div class="col col-lg-7 col-md-7">
            <p>{{getDetailMovieGenres(movie)}}</p>
          </div>
          <div class="col col-lg-4 col-md-4" [ngStyle]="{'text-align': 'center'}">
            <p>({{ movie.release_date | date:'MMM - yyyy' }})</p>
          </div>
          <div class="col col-lg-1 col-md-1" *ngIf="movie.vote_average > 6 then gold_star else silver_star">
            
          </div>
          <ng-template #gold_star>
            <div class="goldStarClass">
              <p><img src="../../../assets/img/goldStar.png"> {{ movie.vote_average }}</p>
            </div>
          </ng-template>
          <ng-template #silver_star>
            <div class="silverStarClass">
                <p><img src="../../../assets/img/silverStar.png"> {{ movie.vote_average }}</p>
            </div>
          </ng-template>
        </div>
        <p class="overviewClass">{{ movie.overview }}</p>
        <div *ngFor="let video of movie.videos_trailer, let i = index" align="center">
          <div *ngIf = 'i == 0; then first_trailer'>
          </div>
          <ng-template #first_trailer>
            <iframe width="560" height="315" [src]="getMovieTrailerUrl(video.key) | safe" frameborder="0" allowfullscreen></iframe>
          </ng-template>
        </div>
        <div [ngStyle]="{'text-align': 'center', 'margin-bottom': '5%', 'margin-top': '2%'}" *ngIf="movie.homepage !== null">
          <a href="{{ movie.homepage }}">Official Homepage</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<mat-tab-group mat-stretch-tabs [ngStyle]="{'background-color': 'lightgray'}">
  <mat-tab label="Similar Movies">
    <div class="container" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div *ngFor="let movie of similar.movies, let i = index">
        <mat-card class="movie-card">
          <a [routerLink]="['/movie', movie.id]"><img mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}"></a>
          <mat-card-content class="card-tit">
            <mat-card-title class="card-tit"><a [routerLink]="['/movie', movie.id]">{{ movie.title }}</a></mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Cast"> Content 2 </mat-tab>
</mat-tab-group>
  

<app-footer></app-footer>