<footer class="page-footer font-small blue pt-4 mt-4">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-lg-6 col-md-6 mt-md-0 mt-3 profile-photo">
        <h5 class="text-uppercase">Daniel Felipe García Cárdenas</h5>
        <div class="row">
          <div class="col-lg-2 col-md-2">
          </div>
          <div class="col-lg-2 col-md-2">
            <img src="assets/img/danielProfile.jpg">
          </div>
          <div class="col-lg-8 col-md-8">
              <p [ngStyle]="{'text-align': 'justify'}">Student of systems engineering at the Universidad del Valle, Cali, Colombia. Experience in Python, PHP, Java, Javascript,
                PostgreSQL, also have knowledgements in the Django Framework.</p>
          </div>
        </div>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-lg-6 col-md-6 mb-md-0 mb-3 icons-images">
        <h5 class="text-uppercase">Social Media</h5>
        <p><a href="https://www.linkedin.com/in/daniel-felipe-garc%C3%ADa-c%C3%A1rdenas-525a40165/"><img src="assets/img/linkedinIcon.png"></a>
          <a href="https://github.com/daniel486/alMoviesProject"><img src="assets/img/githubIcon.png"></a>
          <a href="https://www.instagram.com/danielotti/"><img src="assets/img/instagramIcon.png"></a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 blue-bk">© 2018 Copyright:
    <a href="https://github.com/daniel486/alMoviesProject"> Daniel García</a>
  </div>
</footer>
