p {
    margin-left: 10%;
}

.icons-images {
    img {
        width: 50px;
        height: 50px;
        margin: 5%;
    }
}

.profile-photo {
    img{
        width: 93px;
        height: 139px;
        margin-bottom: 5%;
        margin-left: 15%;
    }
}

footer {
    background: rgb(157, 170, 230);
}

.blue-bk {
    background: #abedd8;
    z-index: 3;
}