.posterDetailImage {
    margin-right: 30%;
    margin-top: 50%;
}

h2 {
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    margin-top: 5%;
    text-align: center;
}

p {
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    font-size: 110%;
}

a {
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    font-size: 110%;
}

.overviewClass {
    text-align: justify;
}

.goldStarClass {
    img {
        width: 30px;
        height: 30px;
    }
    p {
        color: rgb(228, 176, 32);
        text-shadow: 2px 2px #000000;
    }
}

.silverStarClass {
    img {
        width: 30px;
        height: 30px;
    }
    p {
        color: rgb(170, 170, 170);
        text-shadow: 2px 2px #000000;
    }
}





.serie-card {
    background-color:rgba(97, 97, 93, 0.616);
    color: white;
    //opacity: 0.5;
    border-radius: 5%;
    max-width: 250px;
    height: 415px;
    margin-bottom: 4%;
    margin-top: 3%;
    img {
        width: 250px;
        height: 350px;
    }
    img:hover {
        filter: grayscale(80%);
        transition:all .5s ease-in-out;
    }
    .text {
        color: white;
        font-size: 82%;
        position: absolute;
        top: 40%;
        left: 50%;
        bottom: 50%;
        right: 0%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
}

.card-tit {
    font-size: 82%;
    text-align: center;
}