.example-card {
    max-width: 250px;
    max-height: 1000px;
    margin-bottom: 7%;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

img {
    width: 250px;
    height: 350px;
}