<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>

<div class="container" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div *ngFor="let movie of movies.movies, let i = index">
      <mat-card class="example-card">
        <a [routerLink]="['/movie', movie.id]"><img mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}"></a>
        <div class="text">{{ movie.title }}</div>
        <mat-card-content class="card-tit">
            <mat-card-title class="card-tit">{{ movie.title }}</mat-card-title>
        </mat-card-content>
      </mat-card>
  </div>
</div>

