<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>

<div class="container" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div *ngFor="let actor of actors.actors, let i = index">
      <mat-card [ngClass]="actorClass">
        <div *ngIf='actor.profile_path !== null; then photo_available else no_photo_available'></div>
        <ng-template #photo_available>
            <a [routerLink]="['/actor', actor.id]"><img mat-card-image src="https://image.tmdb.org/t/p/h632{{actor.profile_path}}" alt="{{actor.name}}"></a>
        </ng-template>
        <ng-template #no_photo_available>
            <a [routerLink]="['/actor', actor.id]"><img mat-card-image src="assets/img/noPhotoMale.jpg" alt="{{actor.name}}"></a>
        </ng-template>
        <mat-card-content class="card-tit">
            <mat-card-title class="card-tit"><a [routerLink]="['/actor', actor.id]">{{ actor.name }}</a></mat-card-title>
        </mat-card-content>
      </mat-card>
  </div>
    <mat-paginator [length]="length" [pageIndex]=0 [pageSize]="20" (page)="setActualPage($event)">
    </mat-paginator>
</div>

<app-footer></app-footer>